body {
  font-family: 'Roboto Mono', monospace;
  font-size: 16px;
  line-height: 1;
  padding: 2px;
  background-color: rgb(39, 39, 39);
  color: white;
}

.topic-box {
    background-color: rgb(35, 35, 35);
    padding: 5px 20px;
    width: 500px;
}

.topic-box + .topic-box {
    margin-top: 20px;
}

.code-box{
    background-color: rgb(24, 24, 24);
    padding: 1px 10px;
    line-height: 0.3;
}

.code-output{
    background-color: rgb(14, 14, 14);
        padding: 1px 10px;
    line-height: 0.3;
}

.code-example-bg{
    background-color: rgb(17, 17, 17);
}

.sub-title{
    font-size: 25px;
    color: grey;
}

.explanation-text{
    line-height: 5px;
}

.page-link {
    background-color: rgb(19, 19, 19);
    padding: 5px 20px;
    width: 10x;
    line-height: 0;
}

.description{
    color: gray;
    font-size: 13px;
}

.hide-color{
    color: inherit;
    text-decoration: none;
}

.page-link + .page-link {
    margin-top: 10px;
}


.sidebar {
    height: 100vh;     
    width: 250px;       
    position: fixed;    
    top: 0;
    left: 0;
    background-color: #111; 
    padding-top: 20px;
    z-index: 100;
}


.sidebar h2 {
    color: white;
    margin-left: 25px;
}

.sidebar nav a {
    margin-left: 15px;
    margin-bottom: 10px;
    text-decoration: none;
    font-size: 18px;
    color: #818181;
    display: block;
    width: 75px;
}

.main-stuff{
    padding: 40px;
    margin-left: 250px;
}

#selected-sidebar{
    background-color: rgb(41, 41, 41);
}

.print{
    color: lightskyblue;
}

.var{
    color: rgb(255, 91, 91);
}

.end{
    color: red;
}

.forever{
    color: magenta;
}

.getchild{
    color: rgb(97, 160, 2);
}

.setval{
    color: rgb(247, 189, 0);
}

.getval{
    color: rgb(255, 157, 0);
}

.wait{
    color: rgb(151, 73, 0);
}

.if{
    color: rgb(178, 0, 178);
}

.else{
    color: purple;
}

.repeat{
    color: rgb(145, 0, 145);
}

.on_key_down{
    color: rgb(255, 182, 117);
}

.same-line {
    display: flex;
    align-items: center;
    gap: 8px;
}
